# POSTGRES Docker 
PGHOST=prod-postgres-host
PGPORT=5432
PGDATABASE=prod_database
PGUSER=prod_user
PGPASSWORD=prod_password

# Redis configuration
REDIS_HOST=prod-redis-host
REDIS_PORT=6379
REDIS_PASSWORD=prod_redis_password

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET=prod_access_token_secret
JWT_ACCESS_TOKEN_EXPIRATION=20m
JWT_REFRESH_TOKEN_SECRET=prod_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRATION=30d

# Server Configuration
PORT=3000
NODE_ENV=production

# Frontend connexion
FRONTEND_URL=https://your-production-frontend-url.com
