version: '3.9'

services:
# SERVER - NESTJS
# Setup the NestJS server service.
  server:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    networks:
      - app
    depends_on:
      - postgres
      - redis
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app:delegated

# DATABASE - POSTGRESQL
# Setup the PostgreSQL database service
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    ports:
      - 5432:5432
    volumes:
      - type: volume
        source: pg-data-dev
        target: /var/lib/postgresql/data
    networks:
      - app

# REDIS - CACHE
# Setup the Redis cache service.
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - type: volume
        source: redis-data-dev
        target: /data

networks: 
  app:

volumes:
  pg-data-dev:  # PERSISTENT VOLUME : db-postgres 
  redis-data-dev: # PERSISTENT VOLUME : redis-cache 
